.flex
{
    display: flex;
}

.backgroung-repeat
{
    background-repeat: no-repeat;
}

.list-style
{
    list-style-type: none;
}

.pad-inline
{
    padding-inline-start: 0%;
}

.margin-top-right
{
    margin-top: 20px;
    margin-right: 100px;
}

.text-size
{
    font-size: 0.9rem;
}

.pointer
{
    cursor: pointer;
}

.decorate-none
{
    text-decoration: none;
}

.black
{
    color: black;
}

.white
{
    color: white;
}

.mx-10
{
    margin-right: 10px;
}

.mx-5
{
    margin-right: 5px;
}

.bold
{
    font-weight: bold;
}

.border-black
{
    border: 2px solid black;
}

.border-white
{
    border: 2px solid white;
}

.radius
{
    border-radius: 5px;
}

.relative
{
    position: relative;
}


.justify-center
  {
    justify-content: center;
  }

.item-center {
    align-items: center;
}

.text-center
{
    text-align: center;
}